.container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

	&--custom-gap {
		gap: var(--custom-gap, 1rem);
	}
	&--gap0 {
		gap: 0rem;
	}
	&--gap1 {
		gap: 1rem;
	}
	&--gap2 {
		gap: 2rem;
	}
	&--margin-center {
		margin: 0 auto;
	}
}
