.pokemon-container-card {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 6rem 4rem;
	margin-top: 5rem;
}

@media (width <= 470px) {
	.pokemon-container-card {
		display: inline-grid;
		gap: 4rem;
	}
}