@import "../../../../../styles/variables.scss";

.container {
	position: absolute;
	justify-content: center;
	display: flex;
	flex-direction: column;
	z-index: $zindex-2 + 1;

	& li {
		width: 35vw;
		background-color: burlywood;
		color: gray;
		line-height: 3.5;

		> div > span {
			color: #cacae2;
			text-shadow: $text-shadow-1;
			letter-spacing: 0.15em;
		}

		&:nth-child(odd) {
			background: radial-gradient(darkgreen, cornsnilk);
		}

		& a {
			color: inherit;
			background-color: transparent;
			text-decoration: none;
			padding: 1rem;
			display: block;
		}

		&:hover {
			background-color: rgb(0, 0, 255);
			color: white;
		}
	}
}

.none {
	display: none;
}
