@import "../../../../../styles/variables.scss";

.pokemon-image-container {
	position: relative;
	bottom: 50%;
	height: 112%;
	max-width: 30vw;
	width: 23rem;
	margin-left: auto;
	left: 18.5rem;
	transition: transform 0.7s;


	&:hover {
		transform: scale(1.1);
	}

	> img {
		filter: $filter-shadow-1;
		position: absolute;
		top: 5rem;
		z-index: $zindex-1;
	}

	&--single-card {
		top: 3rem;
	}
}

@media (width >= 576px) and (width <= 768px) {
	.pokemon-image-container {
		left: calc(12rem + 8vw);
		top: 5rem;

		> img {
			width: calc(80px + 0.5vw);
		}
	}
}

@media (width <= 575px) {
	.pokemon-image-container {
		left: 13rem;
		top: 5.5rem;

		> img {
			width: 80px;
		}
	}
}
